/*RESET margin e padding 
Espaçamentos interno externo */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
     font-family: 'Roboto', sans-serif;
}

main {
    position: relative;
}


header {
    background: #222222;
    border-bottom: 4px solid #f2b50e;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}

.header-flex {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.125em;
    align-items: center;
}



/*MENU____________________________________*/
.menu-flex {
    display: flex;
}

.menu-flex li a {
    text-decoration: none;
    color: #f1f1f1;
    padding: 10px;
}

.menu-flex li a:hover {
    border-bottom: 2px solid #f2b50e;
}

.menu-flex li {
    list-style: none;
    padding: 50px 30px;

}

/*menu-mobile*/
@media(max-width:750px) {

    .menu-flex {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;

    }

    .menu-flex li {
        width: 100%;
        padding-bottom: 10px;
    }

    .menu-flex li:last-child {
        padding-bottom: 25px;
    }

    .menu-flex li a {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .menu-mob {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    header {
        position: relative;
    }
    
    .header-flex img{
        max-width: 25%;
    }

    .btn-mob {
        position: absolute;
        width: 58px;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

    .btn-mob div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }


    .mlogo {
        width: 100px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: 20px;
        align-self: flex-start;
    }


}



/*mobile-esconder___________*/
.menu-mob-hide {
    max-height: 30rem;
    /*    padding-top: 30px;*/
}



/*SOBRE______________________________________*/
.sobre {
    padding: 220px 10px;
    display: flex;
    background: url(../imagems/bgcode1.jpg) center center no-repeat;
    background-size: cover;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

.sobre h1 {
    font-size: 2.5em;
    font-weight: 500;
}

.sobre-texto {
    padding-top: 20px;
    padding-left: 25px;
    color: #fff;
    font-size: 1.2em;
}

.sobre img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 90%;
    padding-top: 20px;
}

@media(max-width:1024px) {
    .sobre-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 80px 10px;
        flex-direction: column;
    }

    .sobre img {
        max-width: 60%;
        align-self: center;
    }

    .sobre h1 {
        text-align: center;
    }

    .sobre-texto > p {
        text-align: center;
    }

    .sobre-texto > p:last-child {
        text-align: inherit;
        padding: 0px 15px
    }

    .sobre {
        padding: 0px 10px;
    }

}



/*HABILIDADES skills_________________________*/
.skills {
    padding: 80px 5px;
    background: #EDEDED;
}

.skills h2 {
    font-size: 2.375em;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 500;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.skill-container-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.skill-item {
    width: 195px;
    text-align: center;
}

.skill-item img {
    max-width: 45%;
}

.skill-item h3 {
    margin-bottom: 25px;
}

@media(max-width:600px) {

    .skill-item {
        width: 190px;
    }

    .skill-item img {
        max-width: 60%;
        margin-bottom: 50px;
    }

    .skill-container {
        flex-direction: column;
        justify-content: center;
        margin-bottom: -25px;
    }

    .skill-container-bottom {
        flex-direction: column;
        justify-content: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}

@media(max-width:900px) {
    .skill-container {
        flex-wrap: wrap;
    }

    .skill-container-bottom {
        flex-wrap: wrap;
    }

    .skill-item {
        margin-bottom: 25px;
    }
}



/*PORTIFOLIO_________________________________*/
.portifolio {
    background: #f0f0;
    padding: 30px 0px;
}

.portifolio h2 {
    font-size: 2.375em;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 500;
}

.portifolio-container {
    display: flex;
    flex-direction: column;

}

.portifolio-item {
    padding: 0px 30px 45px 30px;
    display: flex;
}
.portifolio-item a{
    text-decoration: none;
}

.portifolio-item-desc {
    padding-left: 20px;
    padding-top: 5px;
    line-height: 25px;
}

.portifolio-item img {
    max-width: 100%;
}

@media(max-width:800px) {
    .portifolio-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center:
    }

    .portifolio-item img {
        max-width: 100%;
        align-self: center;
    }

    .portifolio-item-desc {
        padding-top: 25px;
        max-width: 95%;
        align-self: center;
    }
}


/*CONTATO__________________________*/
.contato-section {
    padding: 0px 10px 120px 10px;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
}

.contato-section h2 {
    font-size: 2.375em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 500;
    width: 100%;
}

.contato-section p {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.contato-item-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto 0px auto;


}

.contato-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 50px;
    text-align: center;
}

.contato-item img {
    margin-bottom: 15px;
}

.contato-item p {
    margin: 20px 0px;
}

.contato-item a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px;
    width: 200px;

}

.contato-item a:hover {
    color: #f2b50e;
    background: #222;
    border-radius: 5px;
    transition: 0.2s;
}

@media(max-width:959px) {

    .contato-item-container {
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;

    }

    .contato-item img {
        padding-bottom: 20px;
        max-width: 70%;
        align-self: center;

    }

    .contato-item a {
        margin-bottom: 10px;
        display: block;
        padding: 10px
    }

    .contato-section {
        padding-top: 20px;
        padding-bottom: 60px;
    }


}



/*RODAPE________________________________*/
footer {
    background: #000;
}

.rodape {
    padding: 40px 0px;
    text-align: center;
    color: #fff;
}