/*Reset Básico*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 1.25rem;
	line-height: 1.4;
	color: #2d2c2c;
	/*    padding-top: 6rem;*/
}

body * {
	/*    border: dotted 1px red;*/
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;

}


/*Reutilizáveis*/
.container {
	width: 100%;
	max-width: 120rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}

.container h1 {
	text-align: center
}

:root {
	--black: #181818;
	--light: #f8f8f8;
	--shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	--shadow-bar: 0px 7px 8px -4px rgba(216, 225, 232, 1);
	--grad2: linear-gradient(90deg, rgba(150, 170, 159, 1) 0%, rgba(66, 69, 73, 1) 47%, rgba(68, 96, 15, 0.8295693277310925) 98%);
	--grad3: #f1f2f3;
}

.title-section {
	font-size: 2.9rem;
	padding: 6rem 0;
	letter-spacing: 1px;

}


/*HEADER------------------------*/
#header {
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--black);
	z-index: 999;
	box-shadow: var(--shadow-bar);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo > img {
	width: 55%;
}

.hamburger-menu {
	color: var(--light);
	font-size: 2.6rem;
	position: relative;
	cursor: pointer;
	z-index: 1500;
}


.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1400;
	opacity: 0;
	transform: scale(0);
	transition: opacity .5s;
}

.nav-item:not(:last-child) {
	margin-bottom: 5rem;
}

.nav-link {
	display: block;
	color: var(--light);
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1rem;
}

.menu-open .nav-list {
	opacity: 1;
	transform: scale(1);

}

@media(min-width:700px) {
	.hamburger-menu {
		display: none;

	}

	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		flex-direction: row;
		justify-content: initial;
		opacity: 1;
		transform: scale(1);

	}

	.nav-item:not(:last-child) {
		margin-right: 3rem;
		margin-bottom: 0;
	}

	.nav-link {
		font-size: 1.3rem;
		font-weight: 600;
		transition: color .5s;
	}

	.nav-link:hover {
		color: var(--light);
		border-bottom: 1px solid var(--light);
	}
}

/*HERO--------------------------*/
#hero {
	color: aliceblue;
	width: 100%;
	height: 100vh;
	background-image: url(../image/bgcode3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	/*		justify-content: center;*/
	/*		text-align: center*/
}

.hero-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-item img {
	border-radius: 50%;
	max-width: 40%;
	margin-bottom: 10px;
}

.img-sub-title h1 {
	font-size: 1.9rem;
	letter-spacing: 0.5px;
}

.img-sub-title p {
	font-size: 1.5rem;
}



@media(min-width: 700px) {

	.img-sub-title h1 {
		font-size: 2.9rem;
		letter-spacing: 0.5px;
	}

	.img-sub-title p {
		font-size: 1.8rem;
	}
}


/*HABILIDADES-------------------*/
#habilidades {
	width: 100%;
	height: auto;
	background-color: var(--light);
	padding-bottom: 12rem
}

.image-grid {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-row-gap: 50px;

}

.image-grid img {
	max-width: 80px;
	justify-self: center;
	box-shadow: var(--shadow);
}

@media(min-width: 700px) {
	.image-grid img {
		max-width: 100px;

	}

	.image-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 40px;
		grid-template-areas: 
		". . ."
		". . ."
		". . ."
		". a .";
	}

	.image-grid > img:nth-child(10){
		/*border: 3px red solid;*/
		grid-area: a;
	}
}



/*PROJETOS----------------------*/
/*https://www.youtube.com/watch?v=rV67qQahXAc*/
#projetos {
	width: 100%;
	height: auto;
	padding-bottom: 12rem
		/*		    padding: 10px;*/
}

/*CARDS*/
.cards{
display:grid;
grid-template-columns: minmax(1fr, 400px);
grid-row-gap: 30px;
}

.card{
	max-width: 400px;
	/*border: 1px solid gray;*/
	/*padding: 8px;*/
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-self: center;
	box-shadow: var(--shadow);
}

.card img{
	max-width: 100%;
}

.content{
	flex: 1;
	padding: 0px 16px;
}

.content-title{
	font-size: 1.9rem;
	letter-spacing: 1px;
	text-align: center;
	padding: 8px 0px;
}

.content-list{
	padding-bottom: 14px;
}


.content-list li{
	font-size: 1.5rem;
}



.card-footer{
	background-color: #f1f2f6;
	padding: 10px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.45rem;

}

.card-footer a{
	/*display: block;*/
	display: inline-block;
	padding: 5px;
	margin-bottom: 3px;
	color: #010f;
}

.card-footer i{
	margin-right: 5px;
}


@media(min-width:700px) {

	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 30px;
	}


}



/*CONTATO-----------------------*/
#contato {
	width: 100%;
	height: auto;
	padding: 1rem;
	background-color: var(--light);
}

.contato-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}

.contato-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}

.contato-item img {
	margin-bottom: 10px
}

.contato-item p {
	padding-bottom: 5px;
	font-size: 1.5rem;
}

.contato-item a {
	font-size: 1.5rem;
	padding: 1.5rem;
	color: #010f;
}

.contato-item a:hover {
	background-color: var(--black);
	border-radius: 10px;
	border: solid 1px var(--ligth);
	color: #fff;
	padding: 1.5rem;
	font-weight: bold;
}


@media(min-width:700px) {

	.contato-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 25px;
		padding-bottom: 12rem
	}
}

/*FOOTER-----------------------*/
footer {
	height: 8rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	color: var(--light);
	font-size: 1.4rem;
}

footer > p {
	padding: 1rem
}
